main {
	user-select: none;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
}

.tooltip {
	position: absolute;
	z-index: 2;
	background: whitesmoke;
	padding: 0 20px;
}

section#menu {
	text-align: left;
	z-index: 1;
	position: relative;
}

.danger {
	color: red;
}

.warning {
	color: rgb(255, 119, 0);
}

.success {
	color: rgb(30, 109, 40);
	font-weight: 600;
}

#menuItems {
	width: 272px;
	position: fixed;
	background: white;
	padding: 10px 8px;
	left: -300px;
	transition: left 0.2s;
	top: 0;
	z-index: 0;
	height: 85vh;
	padding-bottom: 200px;
	overflow-y: auto;
}

#menuItems p {
	margin-bottom: 5px;
}

#menuItems span.info {
	border: 1px dashed #7f7f7f;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 10px;
	background: url(../images/i.png) -0.4px 0px no-repeat;
	box-sizing: border-box;
}

#closeMenu {
	background: none;
	border: none;
	z-index: 1;
	position: fixed;
	left: 20px;
	top: 10px;
}

#closeMenu span {
	display: block;
	width: 20px;
	height: 3px;
	background: black;
	margin-bottom: 4px;
	transition: all 0.2s;
	border-radius: 2px;
	box-shadow: 0 0 4px 0px white;
}

#closeMenuCheck {
	display: none;
}

#menuItems.active {
	left: 0px;
}

#menuItems label {
	min-width: 109px;
}

div#menuItems section {
	margin-bottom: 8px;
}

.selected {
	border: 2px solid #333;
}

#closeMenu.active span:first-of-type {
	transform: rotate(45deg);
	translate: 0px 7px;
}

#closeMenu.active span:last-of-type {
	transform: rotate(-45deg);
	translate: 0px -7px;
}

#closeMenu.active span:nth-of-type(2) {
	opacity: 0;
}

#miniImage {
	background-color: white;

	position: fixed;
	top: 20px;
	right: 20px;
	height: auto;
}

#menu h2 {
	margin-top: -6px;
	margin-left: 40px;
}

.button-group {
	display: flex;
	gap: 5px;
	padding-bottom: 5px;
}

.button-group button {
	flex: 1;
}

#editMotionModel {
	text-align: center;
	height: 0;
	overflow: hidden;
}

#editMotionModel td input {
	width: 55px;
}

.modelCloseBtn {
	font-weight: 800;
	width: 50px;
}

.join-buttons {
	display: flex;
	width: 50%;
}

.join-buttons button:last-of-type:hover,
.join-buttons button:first-of-type:hover {
	border-color: #4e4e4e;
	background: #e5e5e5;
}

.join-buttons button:first-of-type {
	border: 0;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-color: #767676;
	flex: 2;
}

.join-buttons button:last-of-type {
	border: 0;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-color: #767676;
}

.editing-options div {
	display: flex;
	font-size: 13px;
	align-items: center;
}

.ranges {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ranges input {
	flex: 1;
}

.ranges span {
	padding: 3px;
	border: 1px solid;
	border-radius: 2px;
}

.ranges span:focus {
	outline-color: #0075ff;
}

.show-item div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

#animationSlider {
	position: fixed;
	top: 0;
	background: white;
	text-align: center;
	width: 98.5vw;
}

.canvasSection {
	margin-top: 21px;
}

section#graphContainer {
	position: absolute;
	opacity: 0;
	top: -200px;
	left: 20px;
	background: whitesmoke;
	width: calc(100vw - 40px);
	height: 0px;
	display: flex;
	z-index: 0;
	gap: 10px;
	transition: all 0.2s;
}

section#graphContainer.active {
	opacity: 1;
	top: 20px;
	height: calc(100vh - 40px);
	display: flex;
	z-index: 1;
	gap: 10px;
}

.graphMenu {
	min-width: 250px;
	background-color: #949494;
	margin: 10px;
	border-radius: 10px;
}

.graphMenu .header button {
	background: transparent;
	border: none;
	color: white;
	padding: 10px;
}

#graphSection {
	flex: 4;
	margin: 10px;
}

#graphDataButtons {
	padding-left: 5px;
}

#graphDataButtons .btn-group {
	display: inline-flex;
	width: 120px;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

#graphDataButtons .btn-group button {
	display: block;
	width: 100%;
	font-size: 11px;
}

#graphDataButtons .btn-group button.active {
	color: red;
}

div#overlay-container {
    position: absolute;
    overflow: hidden;
    width: 640px;
    top: 0;
    right: 0;
    height: 800px;
}

#overlays {
    
    width: 640px;
    height: 640px;
    filter: blur(0.2px) hue-rotate(297deg);
    background-color: rgb(211 211 211);
}

.overlay {
	position: absolute;
	top: 19px;
	right: 20px;
	mix-blend-mode: color-burn;
	filter: hue-rotate(90deg) saturate(1) brightness(1.3);
}

.overlay img {
	max-width: 600px;
}

#overlay-container #thumbnails {
   min-width: 200px;
}

div#thumbnails img {
    max-width: 100px;
	margin: 10px 5px 0 0;
	transition: all .3s ease-in-out;
}

div#thumbnails img:hover {
	filter: brightness(1.2);
    max-width: 100px;
	margin: 10px 5px 0 0;
	scale: 1.02;
	position: relative;
}

#thumbnail-scroller {
	overflow-x: auto;
}